* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
}

/* 
******************************************
MAIN STYLES
******************************************
*/

main {
  /* Mobile */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  position: relative;
  width: 100%;
  height: 100%;

  background: #ffffff;
}

/* 
******************************************
TOP STYLES
******************************************
*/

.top {
  /* top */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 21px 47px;
  gap: 9px;

  width: 100%;
  height: 463px;

  /* new back */

  background: linear-gradient(
    180deg,
    #7857ff 21.94%,
    #7857ff 41.5%,
    #5643f5 67.14%,
    #2e2be9 100%
  );
  border-radius: 0px 0px 50px 50px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}

.your-title {
  /* Your result */

  width: 139px;
  height: 40px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: rgba(255, 255, 255, 0.8);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.result-box {
  width: 162px;
  height: 152px;

  /* box style */

  background: linear-gradient(180deg, rgba(67, 33, 202, 0) 0%, #4321ca 100%);
  border-radius: 192px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

/* 
******************************************
BOTTOM STYLES
******************************************
*/

.bottom {
  /* category */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 9px 17px;
  gap: 22px;

  width: 100%;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}
